//
   Created by Владелец on 21.12.2016.
doctype html
extends ./index.jade
block append content
    div.container.signup
        a(href="/dashboard/newpoll")
            button.btn.btn-default New Poll
        a(href="/dashboard/mypolls")
            button.btn.btn-default My polls
        a(href="/dashboard/polls")
            button.btn.btn-default All polls
