//
   Created by Владелец on 24.12.2016.
doctype html
extends ./index.jade
block append content
    div.signup-title
        a(href='/signin')
            button.btn.btn-default.signbtn Signin
        a(href='/signup')
            button.btn.btn-default.signbtn Signup

