//
   Created by Владелец on 22.12.2016.

doctype html
extends ./index.jade
block append content
   div.container.signup
      h2 Pollname: #{title}
      h2 Author: #{username}
      h2 Options: #{options}



   //script(src="js/addOption.js" type='text/javascript')