//
   Created by Владелец on 21.12.2016.

doctype html
extends ./index.jade
block append content
   div.container.signup
      h2.signup-title Signin
      form(action="/signin" method="POST")
         div.form-group
            label(for="user") User name:
            input(type="user" name="user").form-control#user
         div.form-group
            label(for="pwd") Password:
            input(type="password" name='password').form-control#pwd
         button.btn.btn-default(type="submit") Submit