body {
    margin-left: 10%;
    margin-right: 10%;
}

.board {
    margin-top: 60px;
    height: 300px;
    background-color: #007bb6;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.title {
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 10px;
}

.signup {
    margin-top: 50px;
    text-align: center;
    width:600px
}
.signup button{
    width:400px
}

.signup-title {
    text-align: center;
}
.options-submit{
    text-align: center;
}
#myChart{
    width: 400px;!important;
    height: 400px;!important;
}
.signbtn{
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    margin-left: 10px;
    margin-right: 10px;
}